<div class="flex w-full h-screen">
  <div class="w-1/2 p-10">
    <h1 class="font-bold text-4xl">KIDS Checkin</h1>
    <p class="text-gray-600">KIDS CHECKIN, mais agilidade, mais segurança para os filhos, mais tranquilidade para os pais</p>
  </div>
  <div class="w-1/2 bg-gray-300">
    <p>Imagem</p>
  </div>
</div>
